* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: rgba(0, 0, 0);
    max-width: 100%;
    overflow-x: hidden;
    font-family: monospace;
    height: 100vh;
}

/* scroll */
/* scroll */
/* scroll */

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000000e5;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background: #000000;
  }
  
  /* scroll */
  /* scroll */
  /* scroll */


body{
    position: relative;
    overflow-y: hidden;
}


.main_header{
    color: aqua;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 50%;
}


.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.buttons a {
    border: 1px solid aqua;
    color: aqua;
    margin: 30px;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
   
}

.buttons a:hover {
    box-shadow: 0px 5px aqua;
   
}